body{
color:black;/**/
background-color:rgba(255, 0, 149, 0.979);/**/
font-size: 24px;/*tamanho da fonte*/
}
header{

    border-bottom: solid 2px rgb(0, 0, 0);
    padding: 20px;/*espaçamento interno*/
    font-size: 32PX;/*tamanho da fonte*/

}